<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add_a_book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
<div class="container"></div>
  <h1 align="center">ADD A BOOK</h1>
  <hr>
 <form class="row g-3">
  <div class="col-md-4">
    <label for="validationServer01" class="form-label">Book name</label>
    <input type="text" class="form-control is-valid" id="validationServer01">
    <div class="valid-feedback">

    </div>
  </div>
  <div class="col-md-4">
    <label for="validationServer02" class="form-label">Book Code</label>
    <input type="text" class="form-control is-valid" id="validationServer02">
    <div class="valid-feedback">

    </div>
  </div>
     <div class="col-md-4">
    <label for="validationServer02" class="form-label">Add Date</label>
    <input type="text" class="form-control is-valid" id="validationServer02">
    <div class="valid-feedback">

    </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <div class="col-12">
    <button class="btn btn-primary" type="add">ADD</button>
  </div>
     </div>
</form>

</body>
</html>